html{
    height: 100%;
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    scroll-behavior: smooth;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Public Sans","Arial","san-serif";
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color:  #EDF3F8;;
}
img{
    object-fit: cover;
    vertical-align: middle;
}
main{
    flex-grow: 1;
}

.button{
 width: 173px;
 margin: 0;
 padding: 14px 25px;
 align-items: center;
 text-decoration: none;
font-weight: bold;
font-size: 15px;
line-height: 18px;
letter-spacing: -0.115385px;
border-radius: 24px;
background-color: #BA4270;
color: #FBFCFE;
}

.button:hover{
background-color: #DA6D97;
box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);

}

body{
    background-image: url("../../images/hero/bgr.hero.png");
    background-size: 780px;
    background-repeat: no-repeat;
   background-position: 675px -260px;
}
@media only screen and (max-width: 760px){
    body{
    
       background-position: -45px -445px;
    }
}


@media only screen and (max-width: 400px){
    body{
    
       background-position: -235px -460px;
    }
}