.hero-pricing .container{
    margin-bottom: 100px;
}

.hero-pricing{
    margin-top: 82px;
}

.pricing__heading{
    max-width: 546px;
    width: 100%;
    margin: 0;
    margin-bottom: 72px;
    padding: 0;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;
    color: #36536B;
}

.pricing__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.pricing__item{
    max-width: 350px;
    width: 100%;
}
.pricing__item__heading{
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.246154px;
    color: #BA4270;
}
.item__paragraph{
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
}
.price{
    padding: 20px 0;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.430769px;
    color: #36536B;
    
}
.pricing__box{
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
}
.pricing__box__list{
    margin: 0;
    margin-bottom: 8px;
    margin-left: 24px;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #36536B;
    opacity: 70%;
}


.pricing__box__list--active{
    
    color: #36536B;
}
.pricing__item__img{
    object-fit: contain;
    margin-right: 10px;
}
@media only screen and(max-width: 715px){
.pricing__heading{
   display: flex;
   justify-content: center;
}
}

@media only screen and(max-width: 680px){
    .pricing__list{
        margin: 0;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
    }
    .pricing__item{
        margin-bottom: 48px;
    }
}
